.concursos {
    text-align: center;
}

.concursos fieldset {
    font-size: 30px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: none;
}

.concursos legend {
    margin: 10px auto;
}

.concursos label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.concursos p {
    font-size: 24px;
}

.select {
    margin: 15px;
}

.btnConfirma {
    text-align: center;
}

.btnConfirma button{
    font-size: 32px;
    border: none;
    padding: 15px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.308);
    background-color: white;
    transition: all .2s ease-out;
}

.btnConfirma button:hover {
    background: #8b2bff;
    color: white;
}

.select {
    width: 120px;
}